{% extends 'accounts/index.html' %}
{% block content %}
  <div class="login-wrap">
    <h2>Kirish</h2>
    <form action="{% url 'login' %}" method="post" class="form">{% csrf_token %}
      <input type="text" placeholder="Foydalanuvchi nomi" required name="username" />
      <input type="password" placeholder="Parol" name="password" />
      <input type="submit" value="Kirish">
      <a href="{% url 'signup' %}"> <p>Hisobingiz yo'qmi, ro'yxatdan o'ting</p></a>
    </form>
  </div>

{% endblock content %}