{% extends 'index.html' %}
{% block content %}
    <section class="sarlavha" id="sarlavha" style="padding-top: 200px;">
        <div class="heading">
            <h2>Bizning  mahsulotlarimiz </h2>
        </div>
        <!--kontener-->
        <div class="mahsulotlar-konteneri">
            {% for i in products %}
                <div class="box">
                    <img   src="{{ i.image.url }}" alt="Bu yerda rasm bor">
                    <h3>{{ i.name }}</h3>
                    
                    <div class="content">
                        <span>{{i.price}}$</span>
                        <a href="{% url 'single' i.pk %}">Ko'rib chiqish</a>
                    </div><br>
                    <div class="add-cart">
                        <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart" class="cart-button">Savatga qo'shish</button>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </section> 
{% endblock content %}