{% extends 'index.html' %}
{% block content %}
    <section style="padding-top: 150px;" class="sarlavha" id="sarlavha">
        
        <!--kontener-->
        <div class="mahsulotlar-konteneri-single">
            <div class="box">
                <img   src="{{product.image.url}}" alt="Bu yerda rasm bor">
                <div class="h2-single"><h2>{{product.name}}</h2></div>
                <div class="content-single">
                    <div class="content-single"><hr>
                    <p> to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. <br> Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,<br> from a Lorem Ipsum passage,  and going through the cites of the word in classical literature, discovered the undoubtable source.</p><hr>
                </div>
            </div>
            <div class="box">
                <img   src="images/p8.jpg" alt="Bu yerda rasm bor">
                <div class="h2"><h2>Uylar dizayni</h2></div><hr>
                <div class="content">
                    <div class="content">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. <br> Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,<br> from a Lorem Ipsum passage,  and going through the cites of the word in classical literature, discovered the undoubtable source.</p><hr>
                    </div>
                </div>
            </div>
            
        </div>
    </section> 
{% endblock content %}